/* MOBILE 320-600px */

html {
    background-color: rgb(37, 154, 7);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height:60px;
    width: 95%;
    background-color: white;
}

#logo {
    width: 50%;
    max-width: 500px;
    max-height: 100px;
}

#logo img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

nav a {
    text-decoration: none;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(37, 154, 7);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 10px;
}

.nature {
    height: 600px;
    background-color: white;
}

.nature h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 154, 7);
    text-align: center;
}

.first-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container1 {
    width: 200px;
}

.img-container1 img {
    width: 100%;
}

.first-article p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
}

.animals {
    height: 500px;
    background-color: white;
}

.animals h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 154, 7);
    text-align: center;
}

.second-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container2 {
    width: 275px;
}

.img-container2 img {
    width: 100%;
}

.second-article p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
}

/* TABLET 600-800px */

@media screen and (min-width: 600px) {

    header {
        height:100px;
    }

    nav a {
        font-size: 14pt;
    }

    .first-article {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img-container1 {
        width: 275px;
    }

    .animals {
        height: 440px;
    }

    .second-article {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img-container2 {
        width: 357px;
    }

    .second-article p {
        width: 150px;
    }
}

/* DESKTOP 801px+ */

@media screen and (min-width: 801px) {

    nav a {
        font-size: 18pt;
    }

    main {
        flex-direction: row;
        justify-content: space-between;
    }

    .nature {
        width: 49%;
        height: 525px;
    }

    .first-article {
        height: 400px;
        align-items: center;
    }

    .img-container1 {
        width: 180px;
    }

    .first-article p {
        width: 150px;
    }
    
    .animals {
        width: 49%;
        height: 525px;
    }

    .second-article {
        flex-direction: column;
    }

    .img-container2 {
        width: 315px;
    }

    .second-article p {
        width: 360px;
    }

}